## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = '../data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
(nrow,ncol) = app_train.shape
print(nrow,ncol)

307511 122

#### 列出所有欄位

In [5]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [6]:
app_train.loc[0:100:10,['NAME_CONTRACT_TYPE','FLAG_OWN_REALTY','FLAG_OWN_REALTY']]

    NAME_CONTRACT_TYPE FLAG_OWN_REALTY FLAG_OWN_REALTY
0           Cash loans               Y               Y
10          Cash loans               Y               Y
20     Revolving loans               Y               Y
30          Cash loans               Y               Y
40          Cash loans               Y               Y
50     Revolving loans               Y               Y
60          Cash loans               Y               Y
70          Cash loans               N               N
80     Revolving loans               Y               Y
90          Cash loans               Y               Y
100    Revolving loans               Y               Y

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [7]:
mask1 = app_train['NAME_CONTRACT_TYPE']=='Cash loans'
mask2 = app_train['FLAG_OWN_REALTY']=='Y'
mask3 = app_train['AMT_INCOME_TOTAL'] > 600000
mask4 = app_train['CNT_CHILDREN'] > 0
mask5 = app_train['AMT_CREDIT'] > 3000000
app_train.loc[mask1 & mask2 & mask3 & mask4 & mask5, ['SK_ID_CURR','TARGET','NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY']]
#app_train.loc[(app_train['CODE_GENDER']=='M' & app_train['FLAG_OWN_REALTY']=='Y')]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY
14852,117337,0,Cash loans,M,N,Y,1,760846.5,4050000.0,146002.5
119681,238782,0,Cash loans,M,Y,Y,1,931365.0,4050000.0,102514.5
170935,298097,0,Cash loans,M,Y,Y,1,1575000.0,3299688.0,170986.5
286205,431470,0,Cash loans,F,Y,Y,1,621000.0,3312162.0,135031.5