In [1]:
import pandas as pd
import numpy as np

### 方法一

In [2]:
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}
print(type(data))
print(type(data['weekday']))
#pd.DataFrame?
ts1 = [1,3,5,7]
ts2 = [100,200,150,500]
index = [5,6,7,8]
d = {'col1': ts1, 'col2': ts2}
df = pd.DataFrame(data=d, index=index)
df1 = pd.DataFrame(data=d)
df2 = pd.DataFrame(np.random.randn(10, 5))
df3 = pd.DataFrame(np.random.randn(10, 5),columns=['a', 'b', 'c', 'd', 'e'])
print(df)
print(df1)
print(df2)
print(df3)

<class 'dict'>
<class 'list'>
   col1  col2
5     1   100
6     3   200
7     5   150
8     7   500
   col1  col2
0     1   100
1     3   200
2     5   150
3     7   500
          0         1         2         3         4
0 -0.575075 -1.125674 -2.011969  1.136203 -0.339186
1 -1.041713  0.481173 -1.878911 -1.742437  3.741408
2  1.758459 -0.799001 -0.381031  0.614049 -0.371554
3 -1.050049  0.780853 -2.029471 -0.582581  1.850206
4 -1.521198  1.018603 -0.877185  0.942553 -0.062888
5 -1.034746  0.429380  0.777019 -0.178412 -0.536854
6 -2.638295  0.785942  0.866332 -0.090744 -0.401490
7  0.143217  0.439144 -0.382683  1.883867 -0.935578
8  0.649049  1.291340 -0.779638  0.689045  3.628764
9 -0.006852 -0.318923 -0.582627 -0.504686 -1.583185
          a         b         c         d         e
0 -1.666021 -1.189566 -1.609741  0.795507 -0.177721
1 -1.274978 -0.678366 -1.277856 -2.418824 -1.118785
2  0.743751  0.000741 -1.263836 -1.384547  0.605174
3  0.216947  1.059422 -0.947519  1.206634  1.889340
4  1.169537 -0.473509 -0.736642 -0.229049 -0.100947
5  0.343244 -0.809470 -0.077225  0.599867  0.352536
6 -0.916964  1.288295 -0.580869  0.239969  0.776231
7 -1.586757 -0.098206  0.290947  0.058888 -0.214763
8 -0.603768 -0.581184 -1.274558 -1.011697  1.625292
9  1.136970  0.240894 -1.855820 -0.399023  1.121847

In [3]:
visitors_1 = pd.DataFrame(data)
print(visitors_1)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 方法二

In [4]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

pre_zipped = zip(list_labels, list_cols)
zipped = list(zip(list_labels, list_cols))
print(list_labels)
print(list_cols)
print(*pre_zipped)
print(zipped)
print(dict(zipped))
#print(dict(*pre_zipped))

['city', 'weekday', 'visitor']
[['Austin', 'Dallas', 'Austin', 'Dallas'], ['Sun', 'Sun', 'Mon', 'Mon'], [139, 237, 326, 456]]
('city', ['Austin', 'Dallas', 'Austin', 'Dallas']) ('weekday', ['Sun', 'Sun', 'Mon', 'Mon']) ('visitor', [139, 237, 326, 456])
[('city', ['Austin', 'Dallas', 'Austin', 'Dallas']), ('weekday', ['Sun', 'Sun', 'Mon', 'Mon']), ('visitor', [139, 237, 326, 456])]
{'city': ['Austin', 'Dallas', 'Austin', 'Dallas'], 'weekday': ['Sun', 'Sun', 'Mon', 'Mon'], 'visitor': [139, 237, 326, 456]}

In [5]:
visitors_2 = pd.DataFrame(dict(zipped))
print(visitors_2)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

## 一個簡單例子
假設你想知道如果利用 pandas 計算上述資料中，每個 weekday 的平均 visitor 數量，

通過 google 你找到了 https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas

想要測試的時候就可以用 visitors_1 這個只有 4 筆資料的資料集來測試程式碼

In [6]:
visitors_1.groupby(by="weekday")['visitor'].mean()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64

In [7]:
visitors_1

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [8]:
visitors_1.groupby(by='weekday')['visitor'].mean()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64

In [9]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(a)
print(a[0])
print(len(a[0]))
print([row for row in a])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
3
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
print( [[row[col] for row in a] for col in range(len(a[0]))] )

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]