In [1]:
import pandas as pd
app_train = pd.DataFrame({'col1':[1,2,3,4,5],'col2':['a','b','cc','d','ef']})
app_train

   col1 col2
0     1    a
1     2    b
2     3   cc
3     4    d
4     5   ef

data_frame['col_name'] : Series 物件

print時不會有column name

In [2]:
print(type(app_train['col1']))
print(app_train['col1'])

<class 'pandas.core.series.Series'>
0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64

data_frame[['col_name']] (兩組中括號): DataFrame 物件

print時有column name

In [3]:
print(type(app_train[['col1']]))
print(app_train[['col1']])

<class 'pandas.core.frame.DataFrame'>
   col1
0     1
1     2
2     3
3     4
4     5